@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif; 
    background-color: #252326;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}   

.header{
    display: flex;
    position: relative;
}

/*--------------------------------------------------------------Menu Superior--------------------------------------------------------------*/

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #DFDDE0;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #DFDDE0;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #7E7674;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu{
    position: relative;
}

.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 500px;
}

table{
    width: 100%;
}

th, td{
    color: #DFDDE0;
}


.borrar{
    background-color: #E45D34;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #DFDDE0;
    font-weight: 800;
}


#lista-carrito thead tr th {
    padding-bottom: 12px; /* añade espacio dentro de las celdas */
}



/*--------------------------------------------------------------Carniceria Rivas--------------------------------------------------------------*/



.header-content{
    position: relative;
    text-align: center;
    margin-top: 300px;
}

.header-content h1{
    font-size: 70px;
    color: #DFDDE0;
    font-weight: 800;
    margin-bottom: 30px;
}

.header-content p{
    font-size: 18px;
    padding: 0 200px;
    color: #8B7E7B;
    margin-bottom: 80px;
}

.botons{
    display: flex; 
    justify-content: center;
}

.btn-1{
    display: inline-block;
    width: 200px;
    margin: 0 10px;
    padding: 13px 0;
    border-radius: 25px;
    color: #DFDDE0;
    text-transform: uppercase;
    background-color: #E45D34;
}

.btn-1:hover{
    background-color: #C23B11;
}

.socials-1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top:0;
}

.socials-1 img{
  width: 20px;
  height: 20px; 
  margin-bottom: 20px; 
}

.arrow{
    position: absolute;
    right: 0;
    top: 0;
    height: 150px; 
}

/*--------------------------------------------------------------Seccion 1, 3 y 5--------------------------------------------------------------*/


.recetas{
    display: flex;
    padding: 120px 0;
}


.recetas-1{
    width: 50%;
}

.recetas-1 h3{
    color: #DFDDE0;
    font-size: 18px;
}

.recetas-1 p{
    color: #E45D34;
}

.recetas-1 hr{
    border: 1px solid #312f32;
    margin: 10px 0;
}

.recetas-2{
    width: 50%;
    text-align: center;
}

.recetas-2 h2{
    color: #DFDDE0;
    font-size: 55px;
    line-height: 55px;
}

/*--------------------------------------------------------------Seccion 3 y 4--------------------------------------------------------------*/

.platillos{
    padding: 50px;
}

.swiper{
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
    padding-bottom: 80px;
}

.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;
}

.swiper-button-prev{
    color: #E45D34;
}

.swiper-button-next{
    color: #E45D34;
}   

.swiper-pagination-bullet{
    background: #DFDDE0;
    opacity: 1;
    top: 50px;
}

.swiper-pagination-bullet-active{
    background: #E45D34;
}

.platillo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}

.platillo h3{
    color: #DFDDE0;
    font-size: 16px;
    margin-bottom: 10px;
}

.precio{
    color: #E45D34 !important;
    font-size: 18px;
}

.platillo img{
    width: 200px;
}

.platillo p{
    color: #DFDDE0;
    font-size: 16px;
    margin-top: 15px;
}

.btn-2{
    display: inline-block;
    margin-top: 15px;
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 25px;
    color: #DFDDE0;
    background-color: #E85123;
    font-size: 14px;
}

.btn-2:hover{
    background-color: #C23B11;
}

.c1, .c2{
    color: #8D7E7B !important;
}

.btn-3{
    display: inline-block;
    border: 1px solid #DFDDE0;  
    margin-top: 25px;
    padding: 8px 15px;
    border-radius: 25px;
    color: #DFDDE0;
    background-color: #252326;
    font-size: 14px;
}

.btn-3:hover{
    background-color: #E85123;
    border: 1px solid #E85123;
}

/*--------------------------------------------------------------Footer--------------------------------------------------------------*/


.footer{
    padding-bottom: 50px;
}

.links{
    display: flex;
    justify-content: space-between;
}

.link{
    width: 25%;
}

.link h3{
    font-size: 20px;
    color: #DFDDE0;
    margin-bottom: 20px;
}

.link p{
    color: #8B7E7B;
    font-size: 14px;
    margin: 0 50px 15px 0;
}

.link ul li a{
   display: inline-block;
   font-size: 16px;
   color: #DFDDE0;
   margin-bottom: 10px;
}

.socials-2 img{
    width: 20px;
    height: 20px; 
    margin-right: 20px;
}

.link form{
    display: flex;
    flex-direction: column;
}

.inp{
    margin-bottom: 15px;
    padding: 8px 15px;
    border-radius: 10px;
    outline: none;
}

.btn-5{
    padding: 8px 15px;
    border-radius: 10px;
    background-color: #61BC00;
    color: #DFDDE0;
    border:0; 
}

/*--------------------------------------------------------------Responitive--------------------------------------------------------------*/


@media (max-width: 768px){
  
    .menu{
        padding: 30px;
    }

    .menu label{
        display: initial;   
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .logo{
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header-content{
        flex-direction: column;
        padding: 30px;
        margin-top: 130px;
    }

    .header-content h1{
        font-size: 40px;
    }

    .header-content p{
        padding: 0;
        margin-bottom: 40px;
    }   

    .botons{
        flex-direction: column;
        align-items: center;
    }

    .btn-1{
        margin: 0 0 20px 0;
    }

    .socials-1, .arrow{
        display: none;
    }

    .recetas{
        flex-direction: column;
        padding: 0px 30px;
        text-align: center;
    }

    .recetas-1{
        width: 100%;
        margin-bottom: 25px;
    }

    .recetas-2{
        width: 100%;    
    }

    .footer{
        padding: 30px;
    }

    .links{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .link{
        width: 70%;
    }

    .link p{
        margin: 0 0 25px 0;
    }

    .socials-2{
        margin-bottom: 15px;
    }

}

/*Cambio*/

th, td{
    text-align: center;
    padding-right: 50px;
}

.restar{
   background-color: #E45D34;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #DFDDE0;
    font-weight: 800; 
}

.btn-4{
    display: inline-block;  
    margin-top: 15px;
    padding: 8px 15px;
    border-radius: 75px;
    color: #DFDDE0;
    background-color: #07901c;
    font-size: 14px;
}

.btn-4:hover{
    background-color: #265a40;
}

.parte-inferior-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Botones a la izquierda - h3 a la derecha */
  margin-top: 10px;
  padding-right: 55px;
}

.parte-inferior-carrito .botones {
  display: flex;
  gap: 8px; /* poca separación entre los botones */
}

.parte-inferior-carrito h3 {
  color: #fff;   /* texto blanco */
  margin: 0;
  display: none;
}

table {
  border-collapse: collapse; /* Opcional: elimina espacios entre bordes */
}

td {
  vertical-align: middle;   /* Centrado vertical */
  /* padding: 10px; */
  height: 80px;             /* Altura mínima de la fila */
}

/*------*/


.platillo p.c2 {
    height: 140px;        /* ajusta según tu contenido más largo */
    overflow: hidden;    /* opcional: oculta exceso si se pasa */
    margin-bottom: 10px; /* espacio con el botón */
}



